button{
    width: 250px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 26px;
    background-color: #e4b69b;
    color: #B0E0E6;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;
}

button:hover {
    background-color: #ffd7c0;
    color: #ffd7c0 ;
    border: 3px solid #B0E0E6;
    transform: rotate(5deg);
    cursor: pointer;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}