body{
    text-align: center;
    background-color: #336B87;
    font-weight: bolder;
    color: white
}

button{
    width: 250px;
    border: 2px solid #2A3132;
    font-weight: bold;
    border-radius: 26px;
    background-color: #336B87;
    color: white;
    text-shadow: #2A3132 1px 1px, #2A3132 -1px 1px, #2A3132 -1px -1px, #2A3132 1px -1px;
    height: 50px;
    margin-top: 10px;
    box-shadow: 25px;
}

button:hover {
    background-color: #90AFC5;
    color: #90AFC5 ;
    border: 3px solid #763626;
    transform: rotate(2deg);
    cursor: pointer;
    text-shadow: #763626 1px 1px, #763626 -1px 1px, #763626 -1px -1px, #763626 1px -1px;
}

div{
    text-align: center;
}
table{
    text-align: center;
}