body
{
    background-color: #336B87;
    text-align: center;
    color: white;
}

h1
{
    color: white;
}

button{
    width: 250px;
    border: 2px solid #2A3132;
    font-weight: bold;
    border-radius: 26px;
    background-color: #336B87;
    color: white;
    text-shadow: #2A3132 1px 1px, #2A3132 -1px 1px, #2A3132 -1px -1px, #2A3132 1px -1px;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;
}

button:hover {
    background-color: #90AFC5;
    color: white ;
    border: 3px solid #763626;
    transform: rotate(5deg);
    cursor: pointer;
    text-shadow: #763626 1px 1px, #763626 -1px 1px, #763626 -1px -1px, #763626 1px -1px;
}

input{
    border: 2px solid #2A3132;
    background-color: #336B87;
    border-radius: 26px;
    text-align: center;
    width: 100px;
    padding: 15px 90px;
    color: white;
    margin-top: 5px;
}

div{
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
}